#list{
    background-color: cadetblue;
}

#right{
    background-color: cyan;
}
 
form{
    margin-top: 0;

}


* {
    box-sizing: border-box;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }  


  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  